<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Studio</title>
    <script src="//webapi.amap.com/maps?v=1.4.14&key=776b6523308e1f587b85d5d00964f893"></script>
    <link href="//at.alicdn.com/t/font_2104724_csfmndkhauf.css" rel="stylesheet" />
</head>
<body>
    
</body>
</html>